@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 27 29% 20%;
    --card: 60 56% 94%;
    --card-foreground: 27 29% 20%;
    --popover: 60 56% 91%;
    --popover-foreground: 27 29% 20%;
    --primary: 27 29% 50%;
    --primary-foreground: 40 50% 98%;
    --secondary: 240 10% 95%;
    --secondary-foreground: 27 29% 30%;
    --muted: 240 5% 90%;
    --muted-foreground: 27 10% 45%;
    --accent: 240 67% 94%;
    --accent-foreground: 240 60% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 20% 70%;
    --input: 27 20% 80%;
    --ring: 27 29% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 27 15% 10%;
    --foreground: 60 30% 96%;
    --card: 27 15% 12%;
    --card-foreground: 60 30% 96%;
    --popover: 27 15% 10%;
    --popover-foreground: 60 30% 96%;
    --primary: 27 29% 50%;
    --primary-foreground: 40 50% 98%;
    --secondary: 27 15% 20%;
    --secondary-foreground: 60 30% 98%;
    --muted: 27 15% 25%;
    --muted-foreground: 60 20% 65%;
    --accent: 240 20% 22%;
    --accent-foreground: 240 60% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 15% 30%;
    --input: 27 15% 30%;
    --ring: 27 29% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
